html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: #ffffff;
	font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
    margin: 10px 0;
}

a:hover {
    text-decoration: none;
}

.post-header {
    position: sticky;
    top: 0;
    background: #181818;
    padding: 10px;
    z-index: 10;
}

.post-content {
    max-height: 80vh;
    overflow-y: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    word-wrap: break-word;
    margin-top: 20px;
}

.post-title {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.back-button a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    background: transparent;
}

.back-button a:hover {
    text-decoration: underline;
}

.audio-player {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.persistent-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #959595;
  font-size: 18px;
}

.persistent-message img {
    height: 1em;
    width: auto;
    vertical-align: -0.2em;
}

.post-content::-webkit-scrollbar {
    display: none;
}

.post-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px 0;
}

.post-content a {
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .audio-player,
    .back-button {
        display: none;
    }

    #gallery-image {
        max-width: 90%;
        max-height: auto;
    }

    .image-info {
        position: relative;
        margin-bottom: 20px;
    }

    #prev, #next {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        margin: 5px 0;
        position: relative;
        transform: none;
        top: auto;
        left: auto;
    }

    .gallery {
        width: 100%;
        padding: 0 10px;
    }
}

.gallery {
    text-align: center;
    position: relative;
}

.image-container {
    position: relative;
    text-align: center;
}

#gallery-image {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
}

#image-title {
    font-weight: bold;
}

#image-description {
    font-style: italic;
}

#prev, #next {
    padding: 10px 15px;
    color: #fff;
    background-color: #151515;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev:hover, #next:hover {
    background-color: #0d0d0d;
}

.hide {
    display: none;
}

::selection {
  background: #ffffff;
  color: #181818;
}

::-moz-selection {
  background: #ffffff;
  color: #111111;
}
