body {
    background-color: #181818;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.app {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stream-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 100%;
}

.stream {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #000;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4545;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
}

.stream:hover .close-btn {
    display: block;
}

.input-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
